block footer

    footer
        .container.text-center
            p
              a(href='https://github.com/thibautbessone/mynewjsframeworkisawesome') github
            p.text-muted.credit blue - 2018

