extends layout

block content
  //stolen from https://bootsnipp.com/snippets/featured/dynamic-form-fields-add-amp-remove-bs3
  .text-center
    h1= title
    h3 Let's find a great name for it, it will totally blow up
    br
    br

  .container
    .row.col-md-4.text-center.col-md-offset-4
      #fields.control-group
        label.control-label Ideas
        .controls
          .entry.input-group
            input.form-control(type='text', placeholder='Type something')
            span.input-group-btn
              button.btn.btn-success.btn-add(type='button')
                span.glyphicon.glyphicon-plus

        br
        .text-center
          p Provide several ideas for more accurate results
          p If no idea is provided, random words will be picked
          button.btn.btn-primary.translateBtn(type='submit') Generate names !

    include footer